
#region-preface-third .login label {
    color: #455E70;
    font-size: 22px;
    text-shadow: 0 0 3px black;
}
#region-preface-third  .login > form {
  margin: 0 auto;
  width: 70%;
}
th{
    text-align: center;
}
.page-search #edit-spamicide--2{
    display: none;
}

body.page-search #region-content {
   margin-left: 0;
    margin-right: 0;
    width: 630px;
}
#section-footer{
    padding-bottom: 50px;
}

div#display_mode {
    float: left;
}
div#display_mode > * {
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
}
div#display_mode > span {
    text-decoration: underline;
}    
div#display_mode ,
.page-search #region-content .view-header{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
}
.view-search-api-solr .item-list{
    padding-top: 11px;
}
/*  PAGER   */
.view-search-api-solr .item-list ul li *,
.view-search-api-solr .item-list ul li * *,
.view-search-api-solr .item-list ul li * * *{
    color: #444444;
    font-size: 14px;
    display: inline-block;
    line-height: 16px;
}
.view-search-api-solr .item-list ul li span,
.view-search-api-solr .item-list ul li {
     font-size: 14px;
     line-height: 16px;
}
.view-search-api-solr .item-list ul li {
    margin: 0 5px !important;
    padding: 0 !important;
}
.pager-first.first, .pager-previous {
    float: right;
}
.view-search-api-solr  .pager-previous > a {
    
    background: url("/sites/all/themes/e_scholar/images/arrow-right-single.png") no-repeat scroll 100% 1px transparent;
    padding-right: 14px;
}
.view-search-api-solr  .pager-first.first > a {
    background: url("/sites/all/themes/e_scholar/images/arrow-right.png") no-repeat scroll 100% 1px transparent;
    padding-right: 22px;
}
.view-search-api-solr  .pager-next > a {
    background: url("/sites/all/themes/e_scholar/images/arrow-left.png") no-repeat scroll -10px 0px transparent;
    padding-left: 15px;
}
.view-search-api-solr  .pager-last.last > a {
    background: url("/sites/all/themes/e_scholar/images/arrow-left.png") no-repeat scroll 0% 0px transparent !important;
    padding-left: 22px !important;
}
.view-search-api-solr .item-list ul li.pager-current{
    vertical-align: middle !important;
}

.view-search-api-solr .item-list ul li.pager-current.first {
    /*padding-right: 240px;*/
}
.view-search-api-solr  #top_pager  .item-list {
 border-bottom: 1px solid #B7B7B7;
    border-top: 1px solid #B7B7B7;
    height: 20px;
    line-height: inherit;
    padding-bottom: 6px;
    padding-top: 10px;
}

.view-search-api-solr  .view-content {
    /*padding-right: 10px;*/
}
.view-search-api-solr   .views-field-contextual-links {
    display: inline;
}
.view-search-api-solr .views-row.min {
    padding-top: 0;
}
.min .title_wrap {
  margin-bottom: 11px;
  margin-top: 0;
}
.min .flag_wrap {
  top: 4px;
}

.view-search-api-solr .views-row {
      border-bottom: 1px solid #B7B7B7;
    clear: both;
    float: right;
    margin-bottom: 10px;
    padding: 30px 0 0;
    position: relative;
     width: 100%;
}
.view .throbber {
 
    /*position: absolute;*/
    
}
.views-field-field-commerce .throbber {
/*    position: relative;
    top:40px;*/
}
.view-search-api-solr .flag_wrap input{
    box-shadow: 0 0 0 1px #F04E22;
transform: scale(1.1);
-webkit-transform: scale(1.1);
}
.page-search-api-solr-view  .region-inner.region-sidebar-first-inner {
    padding-right: 20px;
    padding-top: 33px;
}

    
.views-row h1,
.views-row h2,
.views-row h3,
.views-row h4,
.views-row h5{
    display: inline;
    
}
.view .views-field.views-field-biblio-year{
    font-style: italic;
}

span#sep {
    margin: 0 10px;
}

.views-field-field-biblio-qualitive .research-method-title,
.views-field-field-biblio-quantitative .research-method-title{
    font-weight: bold;
    padding-right: 49px;
}
.views-label{
   color: #6AAAC1;
    font-size: 15px;
    font-weight: bold;
    padding-right: 8px;

    width: 39%;
}
.field-content{
    display: inline-block;
    width: 60%;

}
.views-field-biblio-year .field-content,
.views-field-biblio-custom1 .field-content{
    width: auto;
}

.title_wrap {
    margin-bottom: 23px;
    margin-right: 25px;
}
/*
.title_wrap .views-tooltip span{
display:inline-block;
}
*/
.views-field.views-field-field-biblio-research,
.views-field-field-biblio-qualitive,
.views-field-field-biblio-quantitative,
.views-field-biblio-type,
.views-field-field-biblio-lang,
.views-field-language,
.views-field-biblio-keywords{
    color: #575757;
font-size: 14px;
margin-bottom: 9px;
margin-right: 65px;
}
.views-label-biblio-keywords{
        vertical-align: top;
}
.views-field-biblio-keywords .field-content{
    line-height: 19px;
    position: relative;
    top: -1px;
}
.views-field-tooltip .field-content{
    width: auto;
}

.views-field-biblio-type .field-content{
     display: inline;
    width: auto;
}
.views-field-biblio-secondary-title{
    display: none;
}
.journal_filter{
    display: inline;
}
.journal_filter:before{
    content: "(";
    margin-right: 10px;
}
.journal_filter:after{
    content: ")";
}
.actions{
    margin-top: 40px;
}
.views-field-field-commerce{
   display: inline-block;
    width: 100%;
/*    
clear: both;
    display: block;
    float: right;
*/
}
.min .views-field-field-commerce {
  bottom: 4px;
  float: left;
  left: -76px;
  position: absolute;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  width: 515px;
}
.mlt .views-field-field-commerce {
 bottom: -10px;
left: 0;
position: absolute;
transform: scale(0.8);
-webkit-transform: scale(0.8);
}

.view-search-api-solr .mlt_action {
    display: inline-block;
    margin: 12px 0 22px;
    padding: 0 7px;
}
#advanced_search_title h2{
    font-size: 18px;
    letter-spacing: -0.9px;
    margin: 0;
    color:#6AAAC1 ;
}
.show_mlt_wrap {
  clear: both;
    float: right;
}
.show_mlt_wrap > a {
    font-size: 15px;
    letter-spacing: 0.1px;
    padding: 0 11px !important;
    color: inherit;
}
.view-search-api-solr  div.mlt_arrow{
    background: url("/sites/all/themes/e_scholar/images/mlt_arrow.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 11px;
    left: 80px;
    position: relative;
    top: 17px;
    width: 18px;
}
.view-search-api-solr .mlt_wrap{
    background: none repeat scroll 0 0 #D9E6EB;
   border-radius: 10px 10px 10px 10px;
   box-shadow: 1px 21px 35px -15px #B7B7B7;
   clear: both;
   float: right;
   margin-bottom: 30px;
   margin-right: 25px;
   margin-top: -10px;
   min-width: 540px;
   padding: 10px;
   position: relative;
   z-index: 2;
}
.mlt.min .title_wrap{
    margin-bottom: -16px;
    margin-right: 10px;
}
.mlt_action.close_mlt > span {
  bottom: 0;
  display: inline-block;
  max-width: 120px !important;
  position: absolute;
}
.mlt_wrap .type_image {
  /*margin-top: 30px;*/
}
.view-search-api-solr .mlt_wrap .views-row:not(.mlt:last-child){
    margin-bottom: 10px;
    margin-right: 2%;
}
.view-search-api-solr .mlt_wrap .views-row:last-child{
    border: none;
}
.view-search-api-solr .mlt_wrap .show_mlt_wrap{ 
     right: 4px;
    top: 4px;
}
.mlt.min {
  padding-bottom: 5px;
  padding-top: 0;
}
    
.region-inner.region-sidebar-first-inner > div#advanced_search_title {
    font-size: 18px;
    height: 20px;
    margin-bottom: 9px;
    margin-top: 0;
    min-width: 190px;
    padding-right: 22px;
    right: 0;
}
.block.block-facetapi {
   padding-right: 20px !important;
    width: 197px;
}

.block-facetapi .content.clearfix {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px 0 10px 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 4px;
    padding: 10px 0;
}
.block-facetapi h2 a{
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none
    
}
.block-facetapi .collapsiblock.collapsiblockCollapsed{
   background: url("/sites/all/themes/e_scholar/images/block-facet.png") no-repeat scroll 4px 17px transparent;
    margin: 0 0 3px;
    overflow: hidden;
    padding: 2px 0 35px;
    width: 198px;
}
.block-facetapi .collapsiblockCollapsed a,
.block-facetapi .collapsiblock a{
    background: none ;
}
.block-facetapi ul li.leaf{
    list-style: none;
    margin-right: 0px;
}
.block-facetapi ul li.leaf a{
    font-size: 14px;
    text-decoration: none;
    color: gray;
}
.view-search-api-solr .mlt .views-row{
    border : none;
}

div.flag_wrap {
    position: absolute;
      right: 0;
    top: 31px;
}
/*##### pager   */ 
/*OMEGA-VISULAS BYPASS*/
.pager {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: none !important;
    border-color: none !important;
    border-image: none !important;
    border-radius: none !important;
    border-style: none !important;
    border-width: none !important;
    font-size: inherit !important;
}
.pager li a {
    background: none;
    
}
.pager li {
    border-right: none !important;
    color: inherit !important;
    font: inherit !important;
    outline: 0 none !important;
}
.pager li.first, .pager li.first a, .pager li.first a:hover {
    border-radius: 0px;
}
.pager li.pager-current {
    background: none !important;
    color: inherit !important;
    outline: 0 none !important;
}
.pager li.pager-current {
    font-weight: inherit !important;
    padding: auto !important;
}
.pager li.last,
.pager li.pager-next{
float: left;
}
#top_pager {
  margin-bottom: 10px;
}
/*####*/
#region-preface-third{
    background: none repeat scroll 0 0 #444444;
border-radius: 10px 10px 0 0;
bottom: 0;
display: block;
min-height: 38px;
position: fixed;
width: 960px;
z-index: 999;

}
#cart-toaster:after {
    border-color: white transparent;
    border-style: solid;
    border-width: 8px 8px 0;
    bottom: -8px;
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    width: 0;
}
#cart-toaster:before {
    border-color: #E3E3E3 transparent;
    border-style: solid;
    border-width: 8px 8px 0;
    bottom: -9px;
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    width: 0;
}
#cart-toaster {
    background: none repeat scroll 0 0 white;
    border: 1px solid #E3E3E3;
    border-radius: 5px 5px 5px 5px;
    bottom: 43px;
    line-height: 1.2em;
    padding: 5px 15px;
    position: absolute;
    left: 0px;
    width: 214px;
    z-index: 0;
    top: 0;
    display: none;
    opacity: 0;

}

#cart-toaster {
    line-height: 1.2em;
}

#cart-toaster #toaster-header {
    border-bottom: 1px dotted #A3A4A7;
    display: inline-block;
    margin-bottom: 20px;
    text-align: right !important;
    width: 100%;
}
#cart-toaster #toaster-header h3 {
    float: right;
    line-height: 1.2em;
    margin: 10px 0 0;
    padding-bottom: 5px;
}
.close-button, #cart-toaster #toaster-header #toaster-remove {
     background: url("/sites/all/themes/e_scholar/images/btn_close_sprite.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    left: 15px;
    position: absolute;
    top: 3px;
    width: 24px;
}
#toaster-content #current_msg {
    display: inline-block;
    padding: 0 0 40px;
}
#toaster-content > a {
    bottom: 20px;
    color: #6AAAC1;
    left: 20px;
    position: absolute;
}

#region-preface-third td, #region-preface-third th {
    padding: 10px;
}

/*  block-commerce-cart-cart    */ 

section#block-commerce-cart-cart .contextual-links-wrapper {
    left: 50px;
}
.view-flag-bookmarks  ,
#block-commerce-cart-cart  {
    float: left;
    max-width: 50%;
}
.view-flag-bookmarks   {
    float: right;
    margin-right: 1%;
       max-width: 49%;
}
.view-search-api-solr .views-field-nid,
.view-flag-bookmarks  .views-field-field-commerce,
#block-commerce-cart-cart  .views-field-field-commerce-bibilio-nid{
    /*display: none;*/
}
.line-item-summary {
    padding: 20px 40px 0 ;
}
#block-commerce-cart-cart  {
max-width: 50%;

border-radius: 10px 0 0 0;
}
#region-user-second #block-commerce-cart-cart  {
 box-shadow: 0 12px 41px -24px;
    left: 5px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 263px;
    z-index: 999;
}
#region-user-second #block-commerce-cart-cart h2{
opacity: 0;
}
#region-page-bottom h4,
#region-page-bottom label {
    color: #455E70;
    font-size: 22px;
    text-shadow: 0 0 3px black;
}
#block-views-flag-bookmarks-block-2 .block-title.collapsiblockCollapsed,
#block-commerce-cart-cart .block-title.collapsiblockCollapsed {
    margin: auto auto 0px;
}
#block-views-flag-bookmarks-block-2  .block-title,
#block-commerce-cart-cart .block-title {
    margin: auto auto 5px;
    cursor: pointer;
    float: left !important;    
    font-size: 16px;
}

#block-views-flag-bookmarks-block-2  .block-title {
    color: #FFFFFF;
    float: none;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    text-align: left;
    top: 2px;
    width: 100%;
}
#region-preface-third .block-title  a{
    text-decoration: none;
    height: 22px;
    padding: 8px 18px;
    
}
#block-commerce-cart-cart .block-title a{
    background: url("/sites/all/themes/e_scholar/images/shopping-cart.png") no-repeat scroll 50% 50% #6AAAC1;
    border-top-left-radius: 10px ; 
}

.view-flag-bookmarks  .view-empty p,
#block-commerce-cart-cart .cart-empty-block{
    color: white;
    padding: 80px;
}
.view-flag-bookmarks  .collapsiblockCollapsed a{
    background-image: none;
    color: #fff;
}
.view-commerce-cart-block .view-content {
    background: none repeat scroll 0 0 white;
float: left;
}
.view-flag-bookmarks.view-display-id-block_2{
    overflow-y: scroll;
    max-height: 300px;
}

body.page-search .commerce-line-item-views-form > form {
    max-height: 300px;
    
}
.view-flag-bookmarks.view-display-id-block_2 thead tr{
    border-bottom: 3px solid #CCCCCC;
}
.view-flag-bookmarks.view-display-id-block_2 thead th{
    border-bottom: none;;
}
.cart-contents {
 border-radius: 10px 10px 0 0;
display: inline-block;
margin: 0 2%;
overflow-x: hidden;
}
.view-commerce-cart-block .view-footer {
    background: none repeat scroll 0 0 white;
    float: left;
    margin: 0 2% ;
    overflow: hidden;
    padding: 15px 10% 0;
    width: 76%;
}
.view-flag-bookmarks  > div > .content{
    display: inline-block;
    overflow: hidden !important;
    border-radius: 10px 10px 0 0;
}
/*#region-preface-third{ TABELS*/
#region-preface-third .view-flag-bookmarks  .view-content {
      border: 1px solid #B7B7B7;
/*    border-radius: 5px 5px 5px 5px !important;
    overflow-x: hidden;*/
    padding: 0;
}
#region-preface-third .view table.views-table thead{
  height: 40px;
}
#region-preface-third .view table.views-table  tbody tr {
    height: 38px !important;
}
#region-preface-third .view-flag-bookmarks  .view-content ,
#region-footer-third #block-commerce-cart-cart  .view-content,
#region-footer-third #block-commerce-cart-cart .view-footer{
/*   border-radius: 10px 10px 0 0;
margin: 0 2%;*/
overflow: hidden;
}
#region-preface-third .login {
    border-radius: 0 10px 0 0;
    float: right;
    min-height: 38px;
    margin-right: 10px;
}
#region-preface-third .login li {    
    float: right;
    height: 16px;
    margin: 0;
    padding: 12px 0 10px;
}
#region-preface-third .login li a{    
 border-left: 1px solid;
    color: white;
    font-size: 15px;
    margin: 0;
    padding: 0 23px !important;
    text-decoration: none;
}
#region-preface-third  li:last-child a {
    border-left: medium none !important;
}

.login a#block-login-toggle {
    background: url("/sites/all/themes/e_scholar/images/arrow-left.png") no-repeat scroll 70px -3px transparent;
}

#region-preface-third .login form{
    display: none;
}


/*###  BOOKMARK*/  
.view-search-api-solr .flag-message{
    top: 5px;
    right:100px;
    position: absolute;
    background: white;
    font-size:18px;
    padding: 15px;
    box-shadow: 0 0 3px gray;
    border-radius: 10px;
    z-index: 9999;
}
.view-search-api-solr .flag-throbber {
    position: absolute;
    right: -33px;
    top: 0;
}
.type_image{
    float: right;
    height: 76px;
    width: 60px;
}
.journal, .other, .report, .book, .paper, .tiza, .paper_work{
   background-image: url("/sites/all/themes/e_scholar/images/biblio_type_sprite.png");
background-repeat: no-repeat;
background-position: 0px -8px;
}
.type_image.other {
    background-position: 0 -135px;
}
.type_image.report {
    background-position: 0 -276px;
}
.type_image.paper {
    background-position: 0 -540px;
}
.type_image.tiza {
       background-position: 0 -688px;
}

/*PRICE*/
span.price {
    color: inherit;
    font-size: inherit;
    font-style: italic;
    font-weight: bold;
}


/*   WEBFORM */
#block-webform-client-block-456 .node-title{
    display: none;
}

#block-webform-client-block-456 #webform-component-user,
#block-webform-client-block-456 #webform-component-details,
#block-webform-client-block-456 #webform-component-link{
    display:none;
}
#block-webform-client-block-456 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
}
#block-webform-client-block-456 .block-inner{
    width: 600px;
    margin: 5% auto;
    background: snow;
    padding: 20px 10%;
    border-radius: 10px;
}
#block-webform-client-block-456  .links .ajax-processed{
    display:none;
}
span#close {
    background: none repeat scroll 0 0 buttonshadow;
    border-radius: 3px 3px 3px 3px;
    color: white;
    cursor: pointer;
    float: left;
    padding: 3px 10px;
}


#sb-player > div#in_cart {
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
  text-align: center;
}
.views-field-field-commerce .ajax-progress {
   width: 50px;
}
#block-views-flag-bookmarks-block-2 {
    float: right;
    width: 50%;
}
.views-field-error-mlt {
    float: right;
}

.view-field-bookmark,
.view-flag-bookmarks {
    float: right;
/*    margin-right: 1%; */
    max-width: none;
}

.ie8 *{
	text-shadow:none !important;
filter: none !important;
}

